desktop.ini
.vscode/settings.json
.bash_history
.config
producer.c
consumer.c
.lesshst
ConsultaTP1SO.rar
consumer
producer
index.html
hole6.cnf 
test.cnf
hole7.cnf 
hole8.cnf 
hole9.cnf 
hole10.cnf 
SATs